.nav{
    display: flex;
    flex-direction: row;
}
.nav ul{
    display: flex;
    flex-direction: row;
    gap:50px;
    list-style: none;
    align-items: center;
    position: relative;
    left: 20rem;
}
.nav button{
    padding: 10px;
    color: white;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
}
.next ul li a{
    text-decoration: none;
    color: grey;
}
#search{
    width: 100%; 
    max-width: 500px; 
    padding: 7px;
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s ease;
    position: relative;
    left:10rem
}
.next ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    gap: 100px;
}
.img{
    position: relative;
    left: 20rem;
}
.img1 h3{
    font-size: 2rem;
    position: relative;
    left:5rem;
}
.img1{
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    position: relative;
    left:20rem;
    gap:50px;
}
.jewel{
    display: flex;
    flex-direction: row;
    gap:50px;
}
.jewel2{
    display: flex;
    flex-direction: row;
    gap:50px;
}
.kid{
    display: flex;
    flex-direction: row;
    gap:50px;
}
.kid2{
    display: flex;
    flex-direction: row;
    gap:50px;
}
.men{
    display: flex;
    flex-direction: row;
    gap:50px;
}
.men2{
    display: flex;
    flex-direction: row;
    gap:50px;
}
.women{
    display: flex;
    flex-direction: row;
    gap:50px;
    margin-bottom: 20px;
}
.women2{
    display: flex;
    flex-direction: row;
    gap:50px;
}
.container{
    width: 90%;
    height: 60vh;
    padding: 20px;
    border-radius: 20px;
    box-shadow:  0px 5px 25px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.container form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.inputBox{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
}

.inputBox input[type="text"], .inputBox input[type="email"],.inputBox input[type="city"], .inputBox input[type="number"], .inputBox input[type="address"]{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0px 10px;
    font-size: 16px;
    color: #444;
}


.inputBox button{
    width: 100%;    
    padding: 10px 20px;
    border: none;
    outline: none;
    background: rgb(0, 119, 255);
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
}

.inputBox button:hover{
    background: rgb(0, 17, 255);
    transition: all 0.3s ease;
}

::placeholder{
    font-size: 16px;
}

.alert{
    width: 100%;
    background: rgb(0, 255, 106);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    display: none;
}
.buy-now {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
.buy-now:hover {
    background-color: #218838;
  }
